modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-25_05"
packages = ["ffmpeg", "openai-whisper-cpp", "noto-fonts"]

[[ports]]
localPort = 5000
externalPort = 80

[env]
PORT = "5000"

[deployment]
deploymentTarget = "autoscale"
run = ["node", "./dist/index.cjs"]
build = ["npm", "run", "build"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[agent]
integrations = ["javascript_object_storage:2.0.0", "javascript_gemini_ai_integrations:2.0.0", "javascript_openai_ai_integrations:2.0.0"]
expertMode = true

[objectStorage]
defaultBucketID = "replit-objstore-c89eb0fe-dd55-471d-953a-e56bf65de372"

[userenv]

[userenv.shared]
DEFAULT_ADMIN_USERNAME = "Malikaeditor"
DEFAULT_ADMIN_PASSWORD = "Malikaeditor#123"
FILE_STORAGE_TYPE = "s3"
S3_BUCKET_NAME = "malikaeditor"
S3_REGION = "us-east-1"
AWS_ACCESS_KEY_ID = "AKIAYVZ7GYFE6JY3QXUL"
AWS_SECRET_ACCESS_KEY = "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"
